* {
    margin: 0;
    border: 0;
    text-align: center;
    font-family: sans-serif;
}
body {
    font-size: 18px;
}
#header {
    background-image: url(images/bg-header-desktop.png);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    height: 200px;
}
#header-img{
    position: absolute;
    top: 90px;   
}
.section-model h1 {
    font-size: 35px;
    color: hsl(210, 10%, 33%);
    padding: 25px;
    position:flex;
    top: 10px;
}